* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Open Sans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans-Bold';
    src: url('./fonts/OpenSans-Bold.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Open Sans-ExtraBold';
    src: url('./fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'open Sans-Light';
    src: url('./fonts/OpenSans-Light.ttf') format('truetype');
}

body {
    margin: 0 auto;
}
#main {
    height: 100vh;
}
#main {
    background-image: url(image\ 2.svg);
    background-size: cover;
    background-repeat: no-repeat;

}
#main .uk-navbar-container .uk-navbar-right li a {
    color: #201E1E;
    font-size: 16px;
    line-height: 24px;
    font-family: "Open Sans-Regular", sans-serif;
    height: 24px;
    margin-right: 40px;
    text-transform: capitalize;
}
#main .uk-navbar-container .uk-navbar-right .nav-button {
    background: #CB3631;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 139px;
    height: 48px;
    border: none;
    font-family: "Open Sans-Bold", sans-serif;
}
#main .uk-container .content .text h1 {
    color: #424853;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-family: "Open Sans-ExtraBold", sans-serif;
    padding-right: 133px;

}
#main .uk-container .content .text p {
    color: #000000;
    font-size: 24px;
    line-height: 36px;
    font-family: "Open Sans-Regular", sans-serif;
    margin-top: 24px;
}

#main .uk-container .content .image {
    align-self: flex-end;
}
#about {
    margin-top: 80px;
}
#about .uk-container .content .image img {
    margin-right: 86px;
}
#about .uk-container .content .text h2 {
    font-family: "Open Sans-Regular" , sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #424853;
}
#about .uk-container .content .text p {
    font-family: "Open Sans-Light", sans-serif ;
    font-size: 20px;
    line-height: 36px;
    color: #999;
}
#works .uk-container .content .text h2 {
    font-family: "Open Sans-Regular", sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #424853;
}
#works .uk-container .content .text .items .item .item__head  {
    width: 48px;
    height: 48px;
}
#works .uk-container .content .text p {
    font-family: "Open Sans-Light", sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
#testimonials .uk-container .content .text h2 {
    font-family:"Open Sans-Regular", sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #424853;
    margin-top: 40px;
    text-align: center;
}
#testimonials .uk-container .content .text h3 {
    font-family: "Open Sans-Bold", sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}
#testimonials .uk-container .content .text p {
    font-family: "Open Sans-Light",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    text-align: center;
}
#testimonials .uk-container .content .text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#testimonials .uk-container .content .text .uk-slidnav-container a {
    background: #424853 ;
}

#get .uk-container .content .text h2 {
    font-family: "Open Sans-Light", sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #424853;
}
#get .uk-container .content .image img {
    margin-top: 160px;
    margin-right: 28px;
}
#footer .uk-container .content .text p {
    font-family: "Open Sans-Light",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #999;
}

@media screen and (max-width: 1440px ) {
   
}
@media screen and (max-width: 500px){
    #main .uk-container .content .text h1{
        font-size: 28pxpx;
    }
    #main .uk-container .content .text p {
        font-size: 20px;
    }
    #main .uk-container .content .image {
        display: none;
    }
    #about .content {
        flex-direction: column;
    }
    #works .uk-container .content .text h2 {
        font-size: 24px;
    }
    #works .uk-container .content .text p {
        font-size: 20px
    }
    #works .uk-container .content {
        flex-direction: column-reverse;
    }
    #get .uk-container .content .text h2 {
        font-size: 22px;
    }
}

